Repository meshery/play, pull requests merged in 2023-03, with the labels that each got.

#82 Updated RegEx
  site/src/components/SignupForm/index.js
Labels: area/website

#66 Mobile responsive navbar
  site/src/App.js
  site/src/components/Navigation/Navigation.styles.js
  site/src/components/Navigation/index.js
Labels: area/website

#76 fixed react player alt image and fixed padding for caption
  site/src/App.style.js
  site/src/assets/images/meshery-playground-meshmap.png
Labels: issue/remind

#89 [chore] Update webhook URL
  site/src/components/SignupForm/index.js
Labels: kind/chore
